@charset "utf-8";

.main-color{
    color: #1f5adf !important;
}
.base-color{
    color: #0a1e4a !important;
}
.accent-color{
    background-color:#c6c214 !important;
}
#test
{
    color: #1f5adf !important;
}

.imgbig {
    height: 300px;
  overflow: hidden;
  }
  div.container-m {
    margin-top: 80px;
  }
  .bg{
    color: #0a1e4a;
  }
  div.img-hidden {
    height: 300px;
    overflow: hidden;
  }
  div.img-cl {
    overflow: auto;
  }
  